@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.navbar {
    max-width: 1280px;
    margin: 0 auto;
    font-size: 1.5rem;
    padding: 50px 0;
}

.navbar ul {
    display: flex;
    width: 100%;
    align-items: center;
}

.navbar li {
    list-style-type: none;
    padding: 1rem;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar-logo {
    flex: 1;
    font-size: 1.5rem;
    user-select: none;
    font-weight: bold;
}

#logo {
    color: #d2872c;
    font-size: 2.5rem;
}

.navbar-toggle {
    display: none;
}

.navbar-links a:hover {
    color: #d2872c;
}

.home {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 1.5rem;
    padding: 50px 0;
}

.home-texto h1 {
    position: relative;
    width: 100%;
    color: #766f68;
    font-size: 4rem;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 45px;
    text-align: left;
}

.home-texto h2 {
    position: relative;
    max-width: 370px;
    font-size: 1.5rem;
    font-weight: 400;
    color: #766f68;
    margin-bottom: 45px;
}

.button {
    display: block;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 300;
    font-weight: bold;
    color: #fff;
    padding: 15px 18px;
    background-color: #d2872c;
    border-radius: 15px;
    max-width: 200px;
    text-align: center;
    text-decoration: none;
    bottom: 150%;
}

.home-img img {
    max-width: 100%;
    width: 900px;
    float: right;
}

@media (max-width:600px) {
    .navbar ul {
        flex-wrap: wrap;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-links {
        display: none;
        width: 100%;
        text-align: center;
    }
    .active {
        display: block;
        background: #da9b4f;
    }
}