@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.navbar {
    max-width: 1280px;
    margin: 0 auto;
    font-size: 1.5rem;
    padding: 50px 0;
}

.navbar ul {
    display: flex;
    width: 100%;
    align-items: center;
}

.navbar li {
    list-style-type: none;
    padding: 1rem;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar-logo {
    flex: 1;
    font-size: 1.5rem;
    user-select: none;
}

#logo {
    color: #d2872c;
}

.navbar-toggle {
    display: none;
}

.navbar-links a:hover {
    color: #d2872c;
}

@media (max-width:600px) {
    .navbar ul {
        flex-wrap: wrap;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-links {
        display: none;
        width: 100%;
        text-align: center;
    }
    .active {
        display: block;
        background: #da9b4f;
    }
}